<h1>Local Pets</h1><br>
  <% @pets.each do |pet| %>
  <%= image_tag("#{pet.image}", :size => "260x180") %><br>
  <p>Name: <%= link_to "#{pet.name}", "/pets/#{pet.id}"%></p>
  <p>Age: <%= pet.age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>  Shelter:<%= link_to " #{pet.shelter.name}", "/shelters/#{pet.shelter.id}"%></p>
  <%= link_to 'Edit Pet', "/pets/#{pet.id}/edit"%>
  <%= link_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %><br>

  <% end %>
